<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1>Edit discount on product</h1>

      <%= render partial: 'form',
                 locals: { products: @products,
                           title_sumbit: 'Save discount on product' } %>

    </div>
  </div>
</div>
