<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h1>Create new discount on product</h1>

    <%= render partial: 'form',
               locals: { products: @products,
                         title_sumbit: 'Create discount on product' } %>

    </div>
  </div>
</div>