<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h1>Create new discount on category</h1>

    <%= render partial: 'form',
               locals: { categories: @categories,
                         title_sumbit: 'Create discount on category' } %>

    </div>
  </div>
</div>